Repository FNALssi/spack, pull requests merged in 2023-04, with the labels that each got.

#112 [py-sphinxcontrib-moderncmakedomain] Remove boilerplate
  var/spack/repos/builtin/packages/py-sphinxcontrib-moderncmakedomain/package.py
Labels: update-package, python

#111 [jwt-cpp] Remove boilerplate
  var/spack/repos/builtin/packages/jwt-cpp/package.py
Labels: update-package

#110 Handle system-installed GL
  var/spack/repos/builtin/packages/root/package.py
Labels: conflicts, update-package

#113 fix python to not depend on gettext when it doesn't need to
  var/spack/repos/builtin/packages/python/package.py
Labels: dependencies, update-package, python

#118 adding pre-commit config
  .pre-commit-config.yaml
Labels: core
